In [1]:
%matplotlib inline
import pandas as pd

In [2]:
#from IPython.core.display import HTML
#css = open('style-table.css').read() + open('style-notebook.css').read()
#HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [4]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
rel=pd.read_csv("release_dates.csv")
rel.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [7]:
titles.sort_values(by=['year']).head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [8]:
len(titles[titles['title']=='Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [9]:
len(titles[titles['title']=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [10]:
titles[titles['title']=='Hamlet'].sort_values(by=['year']).head(1).year

52521    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
titles[titles['title']=='Treasure Island'].sort_values(by=['year'])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [12]:
len(titles[titles['year']==1950])

1113

### How many movies were made in the year 1960?

In [13]:
len(titles[titles['year']==1960])

1549

### How many movies were made from 1950 through 1959?

In [14]:
len(titles[(titles['year']>=1950)&(titles['year']<=1959)])

12934

### In what years has a movie titled "Batman" been released?

In [15]:
(titles[titles['title']=='Batman']).year

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [16]:
print("The number of roles in the movie Inception are:")
print(len(cast[cast['title']=='Inception'].type))
print("The roles are displayed below:")
cast[cast['title']=='Inception']

The number of roles in the movie Inception are:
78
The roles are displayed below:

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
...,...,...,...,...,...,...
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [17]:

print("The number of roles in the movie Inception not ranked by n value are:")
print(len(cast[(cast['title']=='Inception')&(cast['n'].isnull()==True)].type))
print("The roles are displayed below:")
cast[(cast['title']=='Inception')&(cast['n'].isnull()==True)]

The number of roles in the movie Inception not ranked by n value are:
27
The roles are displayed below:

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
374661,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
497161,Inception,2010,Garvin Cross,actor,Snow Commander,NaN
684098,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
690634,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
707642,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
836295,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
1006636,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1095095,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1108755,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1120184,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1189066,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1248176,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1296268,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1312335,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1665939,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1836655,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1921209,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1999736,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2127670,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2238386,Inception,2010,Affan Tareen,actor,Denison,NaN
2796449,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2852164,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2950644,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
3054447,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3149397,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN

### But how many roles in the movie "Inception" did receive an "n" value?

In [18]:
print("The number of roles in the movie Inception with n value are:")
print(len(cast[(cast['title']=='Inception')&(cast['n'].isnull()==False)].type))
print("The roles are displayed below:")
cast[(cast['title']=='Inception')&(cast['n'].isnull()==False)]

The number of roles in the movie Inception with n value are:
51
The roles are displayed below:

,title,year,name,type,character,n
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
326745,Inception,2010,Michael Caine,actor,Miles,11.0
333415,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
433867,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
444385,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
517227,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
590576,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
709436,Inception,2010,Russ Fega,actor,Cab Driver,23.0
737322,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
807795,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
812135,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
832083,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
859993,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
910757,Inception,2010,Lukas Haas,actor,Nash,12.0
940923,Inception,2010,Tom Hardy,actor,Eames,4.0
967176,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1170785,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1309851,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1455534,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1615709,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1618527,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1668790,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1701902,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1812091,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1826027,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1861317,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1876301,Inception,2010,Dileep Rao,actor,Yusuf,6.0
2049179,Inception,2010,Felix Scott,actor,Businessman,46.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2267383,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2406531,Inception,2010,Ken Watanabe,actor,Saito,5.0
2614557,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2765969,Inception,2010,Marion Cotillard,actress,Mal,9.0
2776554,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2807441,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2932657,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2932664,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3151982,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3158892,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3203564,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3225843,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3343512,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3359825,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
print(cast[(cast['title']=="North by Northwest")&(cast['n'].isnull()==False)].sort_values(by=['n']).name)
print("The cast is displayed below:")
cast[(cast['title']=="North by Northwest")&(cast['n'].isnull()==False)].sort_values(by=['n'])

871426               Cary Grant
3518333         Eva Marie Saint
1457165             James Mason
3157232     Jessie Royce Landis
356707           Leo G. Carroll
3048272    Josephine Hutchinson
1695173             Philip Ober
1275337           Martin Landau
2447081           Adam Williams
1811387            Edward Platt
665768        Robert Ellenstein
2295714            Les Tremayne
464736          Philip Coolidge
1508344           Patrick McVey
206471             Edward Binns
1384780               Ken Lynch
Name: name, dtype: object
The cast is displayed below:

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [20]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
len(cast[(cast.title == "Hamlet")&(cast.year == 1921)])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [23]:
len(cast[(cast.title == "Hamlet")&(cast.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [24]:
len(cast[cast.title == "Hamlet"])

342

### How many people have played an "Ophelia"?

In [25]:
len(cast[cast.character == "Ophelia"])

117

### How many people have played a role called "The Dude"?

In [26]:
len(cast[cast.character == "The Dude"])

19

### How many people have played a role called "The Stranger"?

In [27]:
len(cast[cast.character == "The Stranger"])

212

### How many roles has Sidney Poitier played throughout his career?

In [28]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [29]:

len(cast[cast.name == "Judi Dench"])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [30]:
cast[(cast.name == "Cary Grant")&(cast.year <= 1940)& (cast.n == 2)].sort_values('year')

,title,year,name,type,character,n
871418,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
871454,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
871446,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
871412,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
871436,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
871393,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
871455,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
871440,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
871401,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
871465,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
871463,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
871464,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
871443,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
871453,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
871459,Topper,1937,Cary Grant,actor,George Kerby,2.0
871408,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
871394,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
871413,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [31]:
cast[(cast.name == "Cary Grant")& (cast.year <= 1940)& cast.n == 1].sort_values('year')

,title,year,name,type,character,n
871457,This Is the Night,1932,Cary Grant,actor,Stephen Mathewson,5.0
871392,Blonde Venus,1932,Cary Grant,actor,Nick Townsend,3.0
871418,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
871437,Sinners in the Sun,1932,Cary Grant,actor,Ridgeway,8.0
871399,Devil and the Deep,1932,Cary Grant,actor,Lt. Jaeckel,4.0
871409,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
871419,Merrily We Go to Hell,1932,Cary Grant,actor,Charlie Baxter,9.0
871388,Alice in Wonderland,1933,Cary Grant,actor,Mock Turtle,10.0
871412,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
871446,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
871404,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
871454,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
871436,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
871455,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
871415,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
871417,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
871393,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
871440,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
871449,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
871465,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
871401,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
871463,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
871439,Suzy,1936,Cary Grant,actor,Andre Charville,3.0
871442,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
871464,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
871443,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
871459,Topper,1937,Cary Grant,actor,George Kerby,2.0
871453,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
871408,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
871394,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
871406,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
871431,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
871413,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0

### How many roles were available for actors in the 1950s?

In [32]:

len(cast[(cast.year == 1950)&(cast.type == 'actor')])

16760

### How many roles were available for actresses in the 1950s?

In [33]:
len(cast[(cast.year <= 1950)&(cast.type == 'actresses')])

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [34]:
len(cast[(cast.n==1)&(cast.year<=1980)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [35]:
len(cast[(cast.n!=1)&(cast.year<=1980)])

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [36]:
len(cast[(cast.n.isna())&(cast.year<=1980)])

448347