# **Assignment**
Non Parametric Tests

In [7]:
import pandas as pd
import numpy as np
from scipy.stats import norm, t
import seaborn as sns

In [8]:
dataset = pd.read_csv('general_data.csv')

In [9]:
dataset.T

                                                 0  ...                    4409
Age                                             51  ...                      40
Attrition                                       No  ...                      No
BusinessTravel                       Travel_Rarely  ...           Travel_Rarely
Department                                   Sales  ...  Research & Development
DistanceFromHome                                 6  ...                      28
Education                                        2  ...                       3
EducationField                       Life Sciences  ...                 Medical
EmployeeCount                                    1  ...                       1
EmployeeID                                       1  ...                    4410
Gender                                      Female  ...                    Male
JobLevel                                         1  ...                       2
JobRole                  Healthcare Representative  ...   Laboratory Technician
MaritalStatus                              Married  ...                Divorced
MonthlyIncome                               131160  ...                   54680
NumCompaniesWorked                               1  ...                       0
Over18                                           Y  ...                       Y
PercentSalaryHike                               11  ...                      12
StandardHours                                    8  ...                       8
StockOptionLevel                                 0  ...                       0
TotalWorkingYears                                1  ...                     NaN
TrainingTimesLastYear                            6  ...                       6
YearsAtCompany                                   1  ...                      21
YearsSinceLastPromotion                          0  ...                       3
YearsWithCurrManager                             0  ...                       9

[24 rows x 4410 columns]

In [10]:
dataset.dropna(inplace = True)

In [11]:
dataset.drop_duplicates(inplace = True)

In [12]:
dataset.describe().T

                          count          mean  ...       75%       max
Age                      4382.0     36.933364  ...     43.00      60.0
DistanceFromHome         4382.0      9.198996  ...     14.00      29.0
Education                4382.0      2.912369  ...      4.00       5.0
EmployeeCount            4382.0      1.000000  ...      1.00       1.0
EmployeeID               4382.0   2207.804884  ...   3308.75    4409.0
JobLevel                 4382.0      2.063898  ...      3.00       5.0
MonthlyIncome            4382.0  65061.702419  ...  83790.00  199990.0
NumCompaniesWorked       4382.0      2.693291  ...      4.00       9.0
PercentSalaryHike        4382.0     15.210634  ...     18.00      25.0
StandardHours            4382.0      8.000000  ...      8.00       8.0
StockOptionLevel         4382.0      0.794614  ...      1.00       3.0
TotalWorkingYears        4382.0     11.290278  ...     15.00      40.0
TrainingTimesLastYear    4382.0      2.798266  ...      3.00       6.0
YearsAtCompany           4382.0      7.010497  ...      9.00      40.0
YearsSinceLastPromotion  4382.0      2.191693  ...      3.00      15.0
YearsWithCurrManager     4382.0      4.126198  ...      7.00      17.0

[16 rows x 8 columns]

In [13]:
dataset.Attrition = dataset.Attrition.map({'Yes' : 1, 'No' : 0})

In [14]:
dataset.Gender = dataset.Gender.map({'Male' : 1, 'Female' : 0})

In [15]:
dataset.T

                                              0     ...                   4408
Age                                             51  ...                     42
Attrition                                        0  ...                      0
BusinessTravel                       Travel_Rarely  ...          Travel_Rarely
Department                                   Sales  ...                  Sales
DistanceFromHome                                 6  ...                     18
Education                                        2  ...                      2
EducationField                       Life Sciences  ...                Medical
EmployeeCount                                    1  ...                      1
EmployeeID                                       1  ...                   4409
Gender                                           0  ...                      1
JobLevel                                         1  ...                      1
JobRole                  Healthcare Representative  ...  Laboratory Technician
MaritalStatus                              Married  ...               Divorced
MonthlyIncome                               131160  ...                  23980
NumCompaniesWorked                               1  ...                      0
Over18                                           Y  ...                      Y
PercentSalaryHike                               11  ...                     14
StandardHours                                    8  ...                      8
StockOptionLevel                                 0  ...                      1
TotalWorkingYears                                1  ...                     10
TrainingTimesLastYear                            6  ...                      2
YearsAtCompany                                   1  ...                      9
YearsSinceLastPromotion                          0  ...                      7
YearsWithCurrManager                             0  ...                      8

[24 rows x 4382 columns]

# **Chi2 Test**

In [16]:
from scipy.stats import chi2_contingency

'H0 - There is no dependency between Attrition and Age (REJECTED)'
'H1 - There is dependency between Attrition and Age'

chitable = pd.crosstab(df.Attrition, df.Age)

stats1, p1, dof1, expected1 = chi2_contingency(chitable)
print(stats1, p1)


if p1 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

352.3011830696416 1.20869585240706e-50
We reject the Ho

In [17]:
'H0 - There is no dependency between Attrition and Gender (ACCEPTED)'
'H1 - There is dependency between Attrition and Gender'

chitable2 = pd.crosstab(df.Attrition, df.Gender)

stats2, p2, dof2, expected2 = chi2_contingency(chitable2)
print(stats2, p2)

if p2 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

1.3825823839528295 0.23966176275638887
We Accept the Ho

In [18]:
'H0 - There is no dependency between Attrition and JobLevel  (ACCEPTED)'
'H1 - There is dependency between Attrition and JobLevel'

chitable3 = pd.crosstab(df.Attrition, df.JobLevel)

stats3, p3, dof3, expected3 = chi2_contingency(chitable3)
print(stats3, p3)

if p3 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

7.036480574687178 0.13397290697032432
We Accept the Ho

In [19]:
'H0 - There is no dependency between Attrition and Education (ACCEPTED)'
'H1 - There is dependency between Attrition and Education'

chitable4 = pd.crosstab(df.Attrition, df.Education)

stats4, p4, dof4, expected4 = chi2_contingency(chitable4)
print(stats4, p4)

if p4 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

6.2735361781270615 0.17963050984273224
We Accept the Ho

In [20]:
'H0 - There is no dependency between Attrition and NumCompaniesWorked (REJECTED)'
'H1 - There is dependency between Attrition and NumCompaniesWorked'

chitable5 = pd.crosstab(df.Attrition, df.NumCompaniesWorked)

stats5, p5, dof5, expected5 = chi2_contingency(chitable5)
print(stats5, p5)

if p5 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

75.85546138415296 1.0708854426925246e-12
We reject the Ho

In [21]:
'H0 - There is no dependency between Attrition and TotalWorkingYears (REJECTED)'
'H1 - There is dependency between Attrition and TotalWorkingYears'

chitable6 = pd.crosstab(df.Attrition, df.TotalWorkingYears)

stats6, p6, dof6, expected6 = chi2_contingency(chitable6)
print(stats6, p6)

if p6 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

360.55237130857233 1.1111356799847907e-53
We reject the Ho

In [22]:
'H0 - There is no dependency between Attrition and PercentSalaryHike (ACCEPTED)'
'H1 - There is dependency between Attrition and PercentSalaryHike'

chitable7 = pd.crosstab(df.Attrition, df.PercentSalaryHike)

stats7, p7, dof7, expected7 = chi2_contingency(chitable7)
print(stats7, p7)

if p7 < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we acceppt the Ho due to p > 0.05

19.132665173042696 0.15994173676121282
We Accept the Ho

In [23]:
'H0 - There is no dependency between Attrition and YearsAtCompany (REJECTED)'
'H1 - There is dependency between Attrition and YearsAtCompany'

chitable = pd.crosstab(df.Attrition, df.YearsAtCompany)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats7, p7)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we Reject the Ho due to p < 0.05

19.132665173042696 0.15994173676121282
We reject the Ho

In [24]:
'H0 - There is no dependency between Attrition and DistanceFromHome (REJECTED)'
'H1 - There is dependency between Attrition and DistanceFromHome'

chitable = pd.crosstab(df.Attrition, df.DistanceFromHome)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we Reject the Ho due to p < 0.05

103.09280258300478 1.5872525392897128e-10
We reject the Ho

In [25]:
'H0 - There is no dependency between Attrition and PercentSalaryHike (ACCEPTED)'
'H1 - There is dependency between Attrition and PercentSalaryHike'

chitable = pd.crosstab(df.Attrition, df.PercentSalaryHike)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we accept the Ho due to p > 0.05

19.132665173042696 0.15994173676121282
We Accept the Ho

In [26]:
'H0 - There is no dependency between Attrition and MonthlyIncome (REJECTED)'
'H1 - There is dependency between Attrition and MonthlyIncome'

chitable = pd.crosstab(df.Attrition, df.MonthlyIncome)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

4006.81847073142 2.581841223898078e-261
We reject the Ho

In [27]:
'H0 - There is no dependency between Attrition and TrainingTimesLastYear (REJECTED)'
'H1 - There is dependency between Attrition and TrainingTimesLastYear'

chitable = pd.crosstab(df.Attrition, df.TrainingTimesLastYear)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

22.87287815507605 0.000840192196419255
We reject the Ho

In [28]:
'H0 - There is no dependency between Attrition and YearsSinceLastPromotion (REJECTED)'
'H1 - There is dependency between Attrition and YearsSinceLastPromotion'

chitable = pd.crosstab(df.Attrition, df.YearsSinceLastPromotion)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

64.22958433145763 4.66086831785978e-08
We reject the Ho

In [29]:
'H0 - There is no dependency between Attrition and TrainingTimesLastYear (REJECTED)'
'H1 - There is dependency between Attrition and TrainingTimesLastYear'

chitable = pd.crosstab(df.Attrition, df.TrainingTimesLastYear)

stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

if p < 0.05 :
    print("We reject the Ho")
else:
    print("We Accept the Ho")
# in the result below we can say that we reject the Ho due to p < 0.05

22.87287815507605 0.000840192196419255
We reject the Ho